.firma{
    font-family: 'overpass-mono', monospace;
}

.firma h4{
    width: 170 px;
    height: 40 px ;
    line-height: 24 px ;
    font-size: 22 px ;
    font-weight: bold ;
    margin-left: 365 px ;
    margin-right: 365 px;
}
